

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --primaryColor:#A020F0;

  --secondaryColor:rgba(31, 41, 55, 0.1); */
    /* --primaryColor:#A020F0; */

 --primaryColor: #273753;        /* Dark charcoal grey - for buttons, CTAs */
--secondaryColor: #E2E8F0;      /* Light grey - for backgrounds, cards */

}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper{
  width: 95%;
  margin: 0 auto;
}

ul{ list-style: none;}